.social {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background: #02aeff;
    width: 4.8rem;
    height: 4.8rem;
    margin: 0 1.2rem;
    border-radius: 3rem;
    z-index: 10;
    // box-shadow: 0 5px 5px 0 #91d5ff;
    &::before {
        content: '';
        position: absolute;
        width: inherit;
        height: inherit;
        left: 0;
        top: 0;
    }
    &::after {
        content: '';
        position: absolute;
        width: inherit;
        height: inherit;
        left: 0;
        top: 0;
        border-radius: 3rem;
        box-shadow: 0 5px 5px 0 #91d5ff;
        transition: inherit;
        z-index: -1;
    }
    @mixin hover {
        $duration: 400ms;
        $easeOutCubic : cubic-bezier(0.215, 0.610, 0.355, 1.000);
        transform: scale3d(1, 1, 1) translateY(0);
        transition: all $duration $easeOutCubic;
        &:hover {
            transform: scale3d(1.2, 1.2, 1.2) translateY(-5px);
        }
    }
    @include hover();
    
    .icon {
        color: #fafafa;
        z-index: 10;
    }
}
