html,
body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    background: $base-background-color;
    font-size: $root-font-size;
    font-weight: 400;
    color: $base-font-color;
    // overflow: hidden;
}

* {
    box-sizing: border-box;
    line-height: 1;
    &::selection {
        background-color: transparentize($color: $base-font-color, $amount: 0.5);
        color: darken($color: $base-font-color, $amount: 5);
    }
}

#root {
    
    font-size: $base-font-size;
}
