$base-background-color: #fafafa;
$base-foreground-color: #fefefe;
$base-main-color: #01AFFF;
$base-sub-color: #526EFE;
$base-font-color: #34495e;
$shadow-color: rgba(10, 38, 61, 0.6);

$root-font-size: 62.5% !default;
$root-column-size: 2.4rem;
$root-gutter-size: 2.4rem;
$root-vertical-size: 1.6rem;

@function size-count($column: 1, $gutter: 1) {
  @return $root-column-size * $column + $root-gutter-size * $gutter;
}

$base-font-size: 1.6rem;
$base-container-width: size-count(24, 23);
$header-height: 12rem;
$logo-size: size-count(2, 1);
$logo-title-size: 3.2rem;
$icon-size: size-count(4, 3);
$slide-width: size-count(18, 17);
$homepage-padding-top: $root-vertical-size * 2;
$homepage-padding-bottom: $homepage-padding-top;

$cord-shadow: 0 2px 8px $shadow-color;
